.image-container {
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.image-container img {
    max-width: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
}